In [80]:
import numpy as np
import pandas as pd
import string

In [81]:
file_path = 'netflix_data.csv'
netflix_data = pd.read_csv(file_path)
netflix_data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [82]:
print(netflix_data.shape)

(8807, 12)

In [83]:
print(netflix_data.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [32]:
netflix_data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [113]:
netflix_req_columns = netflix_data[['show_id', 'type', 'title', 'director', 'cast', 'release_year', 'listed_in', 'description']]
netflix_req_columns.head()

,show_id,type,title,director,cast,release_year,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,2020,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",2021,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",2021,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,2021,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",2021,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [92]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
        return L1

In [93]:
class TextCleaner:
    def separate_text(self, texts):
        unique_texts = set()
        for text in texts.split(','):
            unique_texts.add(text.strip().lower())
        return ' '.join(unique_texts)


    def remove_space(self, texts):
        return texts.replace(' ', '').lower()

    def remove_punc(self, texts):
        texts = texts.lower()
        texts = texts.translate(str.maketrans('', '', string.punctuation))
        return ' '.join(texts.split())

    def clean_text(self, texts):
        texts = self.separate_text(texts)
        texts = self.remove_space(texts)
        texts = self.remove_punc(texts)
        return texts

In [94]:
cleaner = TextCleaner()

In [114]:
netflix_req_columns['type']        = netflix_req_columns['type'].apply(cleaner.remove_space)
netflix_req_columns['director'] = netflix_req_columns['director'].apply(lambda x: cleaner.separate_text(x) if pd.notnull(x) else x)
netflix_req_columns['cast'] = netflix_req_columns['cast'].apply(lambda x: cleaner.separate_text(x) if pd.notnull(x) else x)
netflix_req_columns['listed_in']   = netflix_req_columns['listed_in'].apply(cleaner.separate_text)
netflix_req_columns['description'] = netflix_req_columns['description'].apply(cleaner.remove_punc)
netflix_req_columns.head(1)

C:\Users\kgarg\AppData\Local\Temp\ipykernel_25644\2265439492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_req_columns['type']        = netflix_req_columns['type'].apply(cleaner.remove_space)
C:\Users\kgarg\AppData\Local\Temp\ipykernel_25644\2265439492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_req_columns['director'] = netflix_req_columns['director'].apply(lambda x: cleaner.separate_text(x) if pd.notnull(x) else x)
C:\Users\kgarg\AppData\Local\Temp\ipykernel_25644\2265439492.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_req_columns['cast'] = netflix_req_columns['cast'].apply(lambda x: cleaner.separate_text(x) if pd.notnull(x) else x)
C:\Users\kgarg\AppData\Local\Temp\ipykernel_25644\2265439492.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_req_columns['listed_in']   = netflix_req_columns['listed_in'].apply(cleaner.separate_text)
C:\Users\kgarg\AppData\Local\Temp\ipykernel_25644\2265439492.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_req_columns['description'] = netflix_req_columns['description'].apply(cleaner.remove_punc)

,show_id,type,title,director,cast,release_year,listed_in,description
0,s1,movie,Dick Johnson Is Dead,kirsten johnson,NaN,2020,documentaries,as her father nears the end of his life filmma...

In [115]:
netflix_req_columns.head(5)

,show_id,type,title,director,cast,release_year,listed_in,description
0,s1,movie,Dick Johnson Is Dead,kirsten johnson,NaN,2020,documentaries,as her father nears the end of his life filmma...
1,s2,tvshow,Blood & Water,NaN,dillon windvogel khosi ngema patrick mofokeng ...,2021,international tv shows tv dramas tv mysteries,after crossing paths at a party a cape town te...
2,s3,tvshow,Ganglands,julien leclercq,noureddine farihi samuel jouy nabiha akkari sa...,2021,crime tv shows international tv shows tv actio...,to protect his family from a powerful drug lor...
3,s4,tvshow,Jailbirds New Orleans,NaN,NaN,2021,docuseries reality tv,feuds flirtations and toilet talk go down amon...
4,s5,tvshow,Kota Factory,NaN,ahsaas channa alam khan jitendra kumar urvi si...,2021,international tv shows tv comedies romantic tv...,in a city of coaching centers known to train i...

In [117]:
netflix_req_columns.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'release_year',
       'listed_in', 'description'],
      dtype='object')

In [119]:
def concat_specific_columns(row, columns):
    # Select the specified columns
    selected_cols = row[columns]
    # Convert all non-null values to strings
    non_nan_values = [str(val) for val in selected_cols if pd.notnull(val)]
    # Concatenate the values with a space
    return ' '.join(non_nan_values)

columns_to_concatenate = ['type', 'director', 'cast', 'release_year','listed_in', 'description']
netflix_req_columns['tags'] = netflix_req_columns.apply(lambda row: concat_specific_columns(row, columns_to_concatenate), axis=1)
new_df = netflix_req_columns[['show_id','title','tags']]
new_df.head()

C:\Users\kgarg\AppData\Local\Temp\ipykernel_25644\2653565144.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_req_columns['tags'] = netflix_req_columns.apply(lambda row: concat_specific_columns(row, columns_to_concatenate), axis=1)

,show_id,title,tags
0,s1,Dick Johnson Is Dead,movie kirsten johnson 2020 documentaries as he...
1,s2,Blood & Water,tvshow dillon windvogel khosi ngema patrick mo...
2,s3,Ganglands,tvshow julien leclercq noureddine farihi samue...
3,s4,Jailbirds New Orleans,tvshow 2021 docuseries reality tv feuds flirta...
4,s5,Kota Factory,tvshow ahsaas channa alam khan jitendra kumar ...

In [165]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kgarg\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\kgarg\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\kgarg\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kgarg\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [166]:
lemmatizer = WordNetLemmatizer()

def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [167]:
def lem(text):
    words = nltk.word_tokenize(text)
    pos_tags = nltk.pos_tag(words)
    lemmatized_words = [lemmatizer.lemmatize(word, get_wordnet_pos(pos)) for word, pos in pos_tags]
    return " ".join(lemmatized_words)

In [174]:
new_df['tags'] = new_df['tags'].apply(lem)

0       movie kirsten johnson 2020 documentary a her f...
1       tvshow dillon windvogel khosi ngema patrick mo...
2       tvshow julien leclercq noureddine farihi samue...
3       tvshow 2021 docuseries reality tv feud flirtat...
4       tvshow ahsaas channa alam khan jitendra kumar ...
                              ...
8802    movie david fincher john carroll lynch jake gy...
8803    tvshow 2018 korean tv show tv comedy kid ' tv ...
8804    movie ruben fleischer jesse eisenberg woody ha...
8805    movie peter hewitt courteney cox kevin zegers ...
8806    movie mozez singh vicky kaushal anita shabdish...
Name: tags, Length: 8807, dtype: object

In [175]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [176]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [177]:
cv.vocabulary_

{'movie': 3075,
 'kirsten': 2500,
 'johnson': 2306,
 '2020': 53,
 'documentaries': 1254,
 'father': 1540,
 'end': 1397,
 'life': 2658,
 'filmmaker': 1592,
 'stages': 4251,
 'death': 1123,
 'ways': 4810,
 'help': 1952,
 'face': 1493,
 'tvshow': 4628,
 'dillon': 1226,
 'patrick': 3368,
 'cindy': 856,
 'natasha': 3136,
 'ka': 2378,
 'miller': 2983,
 'williams': 4857,
 'schultz': 3957,
 '2021': 54,
 'international': 2162,
 'tv': 4627,
 'shows': 4105,
 'dramas': 1288,
 'mysteries': 3105,
 'paths': 3362,
 'party': 3348,
 'town': 4549,
 'teen': 4452,
 'sets': 4024,
 'prove': 3547,
 'star': 4261,
 'sister': 4145,
 'abducted': 66,
 'birth': 521,
 'julien': 2361,
 'samuel': 3903,
 'sami': 3900,
 'tracy': 4559,
 'van': 4693,
 'salim': 3891,
 'sofia': 4173,
 'crime': 1021,
 'action': 95,
 'adventure': 128,
 'protect': 3544,
 'family': 1515,
 'powerful': 3498,
 'drug': 1298,
 'lord': 2716,
 'skilled': 4154,
 'thief': 4490,
 'expert': 1476,
 'team': 4447,
 'violent': 4743,
 'deadly': 1116,
 'war': 4790,
 'docuseries': 1257,
 'reality': 3653,
 'talk': 4418,
 'women': 4887,
 'orleans': 3290,
 'justice': 2375,
 'center': 742,
 'new': 3177,
 'gritty': 1827,
 'series': 4015,
 'khan': 2468,
 'jitendra': 2290,
 'kumar': 2540,
 'singh': 4138,
 'arun': 331,
 'raj': 3601,
 'mayur': 2901,
 'comedies': 931,
 'romantic': 3817,
 'city': 862,
 'centers': 743,
 'known': 2507,
 'train': 4568,
 'india': 2126,
 'minds': 2993,
 'student': 4322,
 'friends': 1669,
 'navigate': 3151,
 'mike': 2977,
 'flanagan': 1606,
 'alex': 182,
 'louis': 2732,
 'oliver': 3263,
 'samantha': 3897,
 'henry': 1958,
 'thomas': 4497,
 'kate': 2415,
 'kristin': 2534,
 'zach': 4982,
 'rahul': 3594,
 'kohli': 2512,
 'matt': 2889,
 'crystal': 1035,
 'michael': 2963,
 'horror': 2026,
 'arrival': 319,
 'charismatic': 779,
 'young': 4959,
 'priest': 3519,
 'brings': 604,
 'religious': 3703,
 'dying': 1315,
 'desperate': 1186,
 'believe': 466,
 'josé': 2333,
 'luis': 2756,
 'robert': 3791,
 'cullen': 1038,
 'liza': 2694,
 'vanessa': 4694,
 'glenn': 1765,
 'carson': 704,
 'phil': 3423,
 'elizabeth': 1365,
 'perkins': 3404,
 'james': 2235,
 'marsden': 2862,
 'jane': 2238,
 'krakowski': 2529,
 'ken': 2451,
 'jeong': 2265,
 'children': 816,
 'movies': 3076,
 'hero': 1964,
 'believes': 467,
 'earth': 1324,
 'pals': 3325,
 'heart': 1937,
 'determined': 1196,
 'reggie': 3691,
 'carter': 706,
 'alexandra': 185,
 'nick': 3190,
 '1993': 24,
 'independent': 2124,
 'photo': 3430,
 'american': 221,
 'model': 3023,
 'time': 4517,
 'witness': 4880,
 'ancestral': 235,
 'past': 3355,
 'andy': 247,
 'mel': 2932,
 'paul': 3371,
 'hollywood': 2012,
 'mary': 2874,
 'berry': 489,
 'sue': 4339,
 'british': 606,
 'talented': 4415,
 'amateur': 214,
 'competition': 945,
 'best': 491,
 'dishes': 1241,
 'hopes': 2023,
 'named': 3121,
 'theodore': 4485,
 'laura': 2588,
 'melissa': 2935,
 'mccarthy': 2905,
 'skyler': 4157,
 'kimberly': 2490,
 'quinn': 3575,
 'loretta': 2720,
 'devine': 1203,
 'chao': 771,
 'timothy': 4519,
 'chris': 836,
 'dowd': 1280,
 'diggs': 1224,
 'ravi': 3643,
 'kapoor': 2401,
 'kevin': 2463,
 'woman': 4885,
 'loss': 2727,
 'bird': 520,
 'thats': 4482,
 'taken': 4407,
 'husband': 2066,
 'whos': 4844,
 'struggling': 4319,
 'way': 4807,
 'bold': 549,
 'happens': 1897,
 'trying': 4612,
 'bring': 602,
 'organized': 3285,
 'accused': 91,
 'criminals': 1024,
 'earn': 1323,
 'living': 2691,
 'man': 2815,
 'joins': 2311,
 'rescue': 3713,
 'service': 4019,
 'realizes': 3655,
 'unravel': 4670,
 'conspiracy': 965,
 'christian': 837,
 'anna': 266,
 'milan': 2980,
 'luna': 2760,
 'aziz': 392,
 'victor': 4721,
 'marlon': 2852,
 'murdered': 3092,
 'terrorist': 4471,
 'lured': 2762,
 'joining': 2310,
 'group': 1830,
 'killed': 2484,
 'bruno': 623,
 'marcus': 2838,
 'jade': 2223,
 'fernanda': 1566,
 'leonardo': 2632,
 'gabriel': 1685,
 'lima': 2670,
 'clever': 891,
 'school': 3953,
 'shell': 4071,
 'queen': 3566,
 'bee': 458,
 'classmates': 880,
 'ideas': 2091,
 'cameras': 663,
 'following': 1617,
 'police': 3474,
 'job': 2296,
 'offer': 3247,
 'rare': 3638,
 'complex': 948,
 'challenging': 757,
 'inner': 2145,
 'major': 2802,
 'robertson': 3794,
 'brandon': 580,
 'bell': 468,
 'ashley': 336,
 'logan': 2700,
 'john': 2303,
 'giancarlo': 1741,
 'esposito': 1435,
 'richardson': 3751,
 'students': 4323,
 'daily': 1063,
 'politics': 3478,
 'ivy': 2209,
 'league': 2607,
 'college': 917,
 'nearly': 3161,
 'thinks': 4496,
 'pedro': 3388,
 'garcía': 1702,
 'pablo': 3311,
 'documents': 1256,
 'reveal': 3732,
 'otto': 3299,
 'close': 898,
 'ally': 205,
 'escaped': 1432,
 'spain': 4212,
 'world': 4907,
 'camila': 665,
 'smith': 4166,
 'sergio': 4013,
 'gabriela': 1686,
 'del': 1145,
 'toro': 4541,
 'alejandro': 179,
 'eduardo': 1334,
 'ernesto': 1429,
 'franco': 1650,
 'robinson': 3796,
 'spanish': 4213,
 'language': 2573,
 'strangers': 4306,
 'diego': 1219,
 'isabel': 2189,
 'flee': 1607,
 'home': 2015,
 'mexico': 2955,
 'married': 2857,
 'couple': 1000,
 'escape': 1431,
 'enemies': 1400,
 'abusive': 83,
 'adam': 105,
 'burke': 641,
 'clint': 895,
 'marshall': 2863,
 'green': 1809,
 'antonio': 280,
 'hayes': 1928,
 'megan': 2926,
 'elisabeth': 1361,
 'kelly': 2448,
 'mark': 2851,
 'sarah': 3924,
 'thrillers': 4507,
 'invasion': 2171,
 'dream': 1292,
 'house': 2039,
 'wife': 4850,
 'searches': 3973,
 'answers': 273,
 'learns': 2611,
 'real': 3651,
 'danger': 1083,
 'just': 2374,
 'beginning': 461,
 'iván': 2210,
 'marcos': 2837,
 'garrido': 1705,
 'blanca': 531,
 'suárez': 4386,
 'casas': 708,
 'adrián': 124,
 'alicia': 194,
 'stefan': 4277,
 'julia': 2355,
 '1960s': 5,
 'survivor': 4372,
 'spies': 4224,
 'seek': 3985,
 'nazis': 3158,
 'hide': 1972,
 'olivier': 3265,
 'late': 2580,
 '1970s': 6,
 'serial': 4014,
 'claims': 866,
 'multiple': 3085,
 'personalities': 3410,
 'control': 972,
 'behavior': 463,
 'setting': 4025,
 'legal': 2620,
 'america': 220,
 'cengiz': 741,
 'engin': 1404,
 'deniz': 1163,
 '2018': 51,
 'good': 1785,
 'unwittingly': 4673,
 'clan': 868,
 'warrior': 4795,
 'agrees': 147,
 'fight': 1581,
 'exchange': 1464,
 'land': 2568,
 'nassar': 3131,
 'kamal': 2392,
 'hassan': 1918,
 '1996': 27,
 'newly': 3179,
 'divorced': 1247,
 'rights': 3762,
 'daughter': 1104,
 'order': 3281,
 'spend': 4221,
 'woo': 4894,
 'stanley': 4259,
 'moore': 3050,
 'lim': 2669,
 'maisie': 2801,
 'benson': 481,
 'kerry': 2462,
 'games': 1695,
 'days': 1114,
 'cory': 994,
 'curious': 1048,
 'little': 2685,
 'fun': 1681,
 'shankar': 4045,
 'aishwarya': 162,
 'rai': 3595,
 'bachchan': 397,
 'lakshmi': 2562,
 '1998': 29,
 'loves': 2739,
 'twin': 4629,
 'sons': 4195,
 'marry': 2859,
 'sisters': 4146,
 'creates': 1013,
 'alter': 209,
 'brooke': 614,
 'finding': 1598,
 'love': 2735,
 'hard': 1902,
 'adults': 127,
 'autism': 377,
 'exploring': 1480,
 'dating': 1103,
 'complicated': 949,
 'rajiv': 3608,
 'menon': 2945,
 'prabhu': 3500,
 'girish': 1755,
 '1997': 28,
 'music': 3096,
 'musicals': 3098,
 'tangled': 4429,
 'triangle': 4596,
 'falls': 1510,
 'friend': 1667,
 'enlists': 1409,
 'pursue': 3557,
 'dennis': 1164,
 'colin': 913,
 'joyce': 2339,
 'david': 1107,
 'spade': 4211,
 'rob': 3786,
 'schneider': 3952,
 'maya': 2898,
 'rudolph': 3844,
 'tim': 4516,
 'sandler': 3911,
 'maria': 2841,
 'bello': 471,
 'salma': 3894,
 'hayek': 1927,
 'rock': 3798,
 '2010': 43,
 'beloved': 472,
 'junior': 2372,
 'high': 1975,
 'basketball': 438,
 'coach': 902,
 'middleaged': 2973,
 'reunite': 3730,
 'lake': 2561,
 'kid': 2475,
 'scott': 3966,
 'stewart': 4292,
 'russell': 3858,
 'dakota': 1066,
 'josh': 2330,
 'hamilton': 1879,
 'jake': 2231,
 'brennan': 590,
 'simmons': 4129,
 'annie': 269,
 'rich': 3748,
 '2013': 46,
 'sci': 3960,
 'fi': 1574,
 'fantasy': 1522,
 'suburban': 4333,
 'alien': 195,
 'force': 1625,
 'struggle': 4317,
 'threat': 4501,
 'amber': 216,
 'heard': 1935,
 'julian': 2356,
 'richard': 3749,
 'gary': 1707,
 'oldman': 3261,
 'harrison': 1908,
 'ford': 1629,
 'angela': 249,
 'liam': 2652,
 'lucas': 2748,
 'till': 4515,
 'ceo': 745,
 'employee': 1393,
 'finds': 1599,
 'forced': 1626,
 'spy': 4244,
 'rival': 3778,
 'mentor': 2947,
 'abhishek': 73,
 'tiwari': 4525,
 'chaudhary': 789,
 'hussain': 2068,
 'ghosh': 1736,
 'banerjee': 420,
 'nikhil': 3204,
 'kunal': 2541,
 'big': 512,
 'lonely': 2704,
 'souls': 4204,
 'discover': 1235,
 'surprising': 4367,
 'connection': 957,
 'tales': 4416,
 'charles': 780,
 'bob': 545,
 'lauren': 2589,
 'ash': 333,
 'jon': 2315,
 'rory': 3828,
 'matthew': 2890,
 'craig': 1008,
 'jill': 2284,
 'katie': 2420,
 'chicago': 808,
 'aunt': 371,
 'diane': 1214,
 'talent': 4414,
 'adulthood': 126,
 'spot': 4239,
 'nephew': 3175,
 'emma': 1385,
 'connor': 961,
 'gillian': 1752,
 'anderson': 238,
 'comes': 933,
 'sex': 4029,
 'advice': 131,
 'thanks': 4481,
 'therapist': 4486,
 'mom': 3036,
 'rebel': 3660,
 'kim': 2489,
 'joo': 2322,
 'tripathi': 4601,
 'anupam': 282,
 'sung': 4350,
 'tae': 4400,
 'seong': 4010,
 'park': 3341,
 'hae': 1865,
 'soo': 4196,
 'ha': 1862,
 'jun': 2367,
 'oh': 3254,
 'lee': 2617,
 'jung': 2369,
 'jae': 2225,
 'ho': 2001,
 'yeon': 4943,
 'mi': 2959,
 'players': 3462,
 'strange': 4304,
 'compete': 944,
 'childrens': 817,
 'inside': 2151,
 'prize': 3528,
 'jason': 2247,
 'catherine': 723,
 'han': 1880,
 'nancy': 3124,
 'jennifer': 2261,
 'kids': 2480,
 'kidnapped': 2477,
 'evil': 1458,
 'search': 3972,
 'magical': 2794,
 'daniel': 1086,
 'judith': 2350,
 'state': 4269,
 'elena': 1355,
 'adrian': 119,
 'son': 4185,
 'goes': 1773,
 'missing': 3009,
 'mountains': 3070,
 'retired': 3723,
 'intelligence': 2159,
 'officer': 3250,
 'stop': 4297,
 'risk': 3772,
 'jean': 2254,
 'françois': 1653,
 'civil': 864,
 'karim': 2409,
 'vincent': 4739,
 'gilles': 1750,
 'smalltime': 4162,
 'cops': 985,
 'chance': 762,
 'network': 3176,
 'lines': 2676,
 'key': 2464,
 'makes': 2804,
 'lynne': 2768,
 'red': 3677,
 'chuck': 847,
 'adventures': 129,
 'steal': 4275,
 'george': 1721,
 'yu': 4964,
 'billy': 515,
 'terry': 4473,
 'chen': 797,
 'jin': 2288,
 'xing': 4921,
 'ron': 3821,
 'yuan': 4965,
 'philip': 3424,
 'ng': 3184,
 'wu': 4916,
 '2017': 50,
 'bruce': 622,
 'kung': 2542,
 'fu': 1675,
 'leading': 2605,
 'showdown': 4104,
 'master': 2880,
 'film': 1589,
 'based': 437,
 'events': 1454,
 'julie': 2360,
 'tejwani': 4457,
 'vatsal': 4702,
 'dubey': 1302,
 'jigna': 2283,
 'bhardwaj': 502,
 'rupa': 3854,
 'bhimani': 508,
 'swapnil': 4387,
 'mousam': 3071,
 'rajesh': 3606,
 'kava': 2429,
 'brave': 582,
 'boy': 572,
 'powers': 3499,
 'leads': 2606,
 'exciting': 1465,
 'guard': 1837,
 'fellow': 1561,
 'villagers': 4734,
 'judy': 2351,
 'alice': 193,
 'trevor': 4592,
 'ben': 474,
 'fred': 1656,
 'tatasciore': 4438,
 'tom': 4531,
 'kenny': 2458,
 'brooks': 616,
 'yuri': 4977,
 'lowenthal': 2742,
 'antony': 281,
 'rio': 3767,
 'grey': 1818,
 'griffin': 1822,
 'roger': 3806,
 'kaye': 2433,
 'mighty': 2974,
 'heroic': 1966,
 'squad': 4245,
 'misfits': 3006,
 'legendary': 2622,
 'power': 3497,
 'destiny': 1190,
 'defend': 1142,
 'sinister': 4143,
 'steven': 4289,
 'spielberg': 4223,
 'ted': 4451,
 'shaw': 4061,
 'roy': 3839,
 'lorraine': 2722,
 'jonathan': 2318,
 'carl': 691,
 'jeffrey': 2257,
 'susan': 4375,
 'murray': 3095,
 'classic': 878,
 'great': 1805,
 'white': 4840,
 'shark': 4054,
 'island': 2196,
 'chief': 810,
 'hunter': 2062,
 'destroy': 1191,
 'ann': 265,
 'barry': 432,
 'joseph': 2329,
 'french': 1664,
 'paxton': 3379,
 'years': 4938,
 'attacks': 356,
 'martin': 2867,
 'brody': 611,
 'fights': 1585,
 'killer': 2485,
 'joe': 2299,
 'liz': 2693,
 'morris': 3060,
 'quaid': 3565,
 'dan': 1077,
 'lisa': 2683,
 'armstrong': 312,
 'simon': 4130,
 'lea': 2601,
 'thompson': 4498,
 'jr': 2341,
 '1983': 14,
 'staff': 4249,
 'marine': 2847,
 'try': 4611,
 'capture': 679,
 'mother': 3064,
 'blood': 536,
 'mario': 2849,
 'lynn': 2767,
 'whitfield': 4842,
 'karen': 2407,
 'lance': 2567,
 'guest': 1840,
 'mitchell': 3012,
 'attack': 355,
 'ellen': 1368,
 'moves': 3074,
 'follows': 1618,
 'tyler': 4635,
 'robin': 3795,
 'painful': 3319,
 'childhood': 815,
 'lives': 2690,
 'dreams': 1293,
 'training': 4571,
 'screen': 3968,
 'nora': 3220,
 'joel': 2300,
 'ryan': 3863,
 'reynolds': 3740,
 'vera': 4709,
 'farmiga': 1531,
 'cunningham': 1046,
 'brendan': 589,
 'gleeson': 1763,
 'sam': 3896,
 'shepard': 4076,
 'denzel': 1165,
 'washington': 4799,
 '2012': 45,
 'cia': 853,
 'weston': 4837,
 'dangerous': 1084,
 'criminal': 1023,
 'agency': 142,
 'safe': 3877,
 'come': 927,
 'ini': 2141,
 'toni': 4535,
 'emmanuel': 1386,
 'kemi': 2450,
 'success': 4334,
 'juggle': 2352,
 'careers': 687,
 'friendships': 1671,
 '2016': 49,
 'bestselling': 492,
 'novel': 3231,
 'antoine': 277,
 'cliff': 894,
 'curtis': 1051,
 'harris': 1907,
 'snoop': 4167,
 'dogg': 1261,
 'ethan': 1441,
 'dr': 1283,
 'raymond': 3647,
 'macy': 2779,
 'gray': 1804,
 'eva': 1446,
 'mendes': 2942,
 '2001': 34,
 'rookie': 3824,
 'cop': 982,
 'day': 1113,
 'veteran': 4715,
 'narcotics': 3127,
 'receives': 3664,
 'crash': 1009,
 'course': 1002,
 'brand': 579,
 'jude': 2347,
 'chukwuka': 849,
 'amanda': 213,
 'bimbo': 516,
 'manuel': 2829,
 'blossom': 539,
 'chukwujekwu': 848,
 'mofe': 3027,
 'damijo': 1075,
 'duke': 1303,
 'pair': 3321,
 'successful': 4335,
 'lawyers': 2599,
 'opposite': 3279,
 'happy': 1899,
 'marriage': 2855,
 'arora': 316,
 'chandan': 763,
 'anand': 234,
 'irani': 2179,
 'anjali': 263,
 'rana': 3624,
 'amit': 227,
 'mehta': 2930,
 '2014': 47,
 'ancient': 236,
 'god': 1772,
 'trial': 4594,
 'battles': 446,
 'true': 4606,
 'heroes': 1965,
 'villains': 4736,
 'shinohara': 4088,
 'noriko': 3221,
 'watanabe': 4800,
 'toshiyuki': 4545,
 'morikawa': 3058,
 'koji': 2515,
 'kenichi': 2453,
 'ogata': 3253,
 'yukino': 4973,
 'houko': 2038,
 'kuwashima': 2546,
 'yamaguchi': 4927,
 '2002': 35,
 'anime': 261,
 'features': 1552,
 'biggest': 513,
 'foe': 1615,
 'seemingly': 3989,
 'return': 3726,
 'everyday': 1456,
 'peace': 3382,
 'soon': 4198,
 'shattered': 4059,
 'enemy': 1401,
 'otsuka': 3298,
 'inoue': 2149,
 '2003': 36,
 'dog': 1260,
 'demon': 1156,
 'fang': 1519,
 'sword': 4391,
 'cho': 826,
 '2004': 37,
 'ai': 154,
 'people': 3393,
 'returns': 3728,
 'potential': 3494,
 'tomokazu': 4533,
 'seki': 3994,
 'away': 385,
 'demons': 1158,
 'fate': 1538,
 'nicole': 3195,
 'jacques': 2221,
 'torres': 4542,
 'terrible': 4469,
 'track': 4556,
 'record': 3672,
 'contest': 969,
 'hot': 2036,
 'murata': 3090,
 'yuichi': 4969,
 'nakamura': 3119,
 'rikiya': 3763,
 'koyama': 2527,
 'chie': 809,
 'junko': 2373,
 'takeuchi': 4410,
 'kazuhiko': 2434,
 '2011': 44,
 'ninja': 3208,
 'imprisoned': 2116,
 'castle': 717,
 'satoshi': 3931,
 'hino': 1986,
 'nana': 3123,
 'shinji': 4087,
 '2008': 41,
 'village': 4733,
 'pal': 3322,
 'save': 3936,
 'planet': 3454,
 'yukari': 4971,
 'tamura': 4424,
 'koichi': 2513,
 'kentaro': 2461,
 'ito': 2207,
 '2009': 42,
 'leader': 2603,
 'tries': 4598,
 'romi': 3820,
 'miyuki': 3018,
 'sawashiro': 3938,
 'kato': 2421,
 'fumiko': 1680,
 'orikasa': 3288,
 'katsuyuki': 2423,
 'konishi': 2520,
 'tetsuya': 4477,
 'daisuke': 1064,
 'ono': 3273,
 'keiko': 2445,
 '2007': 40,
 'hes': 1968,
 'tasked': 4437,
 'protecting': 3545,
 'die': 1218,
 'kenji': 2454,
 'saori': 3922,
 'hayami': 1924,
 'yuko': 4974,
 'kobayashi': 2510,
 'sent': 4006,
 'recover': 3674,
 '20': 32,
 'battle': 445,
 'akira': 167,
 '2005': 38,
 'mission': 3010,
 'pet': 3413,
 'brutal': 624,
 'led': 2616,
 'enigmatic': 1408,
 'ikeda': 2102,
 'hayashi': 1925,
 '2006': 39,
 'teams': 4448,
 'sakura': 3884,
 'prince': 3521,
 'hikaru': 1981,
 'moon': 3049,
 'kingdom': 2494,
 'kaida': 2385,
 'learn': 2609,
 'actress': 102,
 'hurt': 2065,
 'making': 2805,
 'turns': 4625,
 'shes': 4081,
 'princess': 3522,
 'ritter': 3777,
 'story': 4301,
 'fan': 1518,
 'tell': 4459,
 'tale': 4413,
 'night': 3201,
 'stay': 4273,
 'trapped': 4578,
 'wicked': 4846,
 'apartment': 288,
 'forever': 1632,
 'holt': 2014,
 'beth': 493,
 'teresa': 4466,
 'gallagher': 1692,
 'marcel': 2833,
 'place': 3448,
 'called': 660,
 'work': 4901,
 'play': 3458,
 'sing': 4135,
 'explore': 1478,
 'history': 1998,
 'indian': 2127,
 'traditional': 4562,
 'dustin': 1311,
 'diamond': 1211,
 'lopez': 2715,
 '1994': 25,
 'middle': 2972,
 'zack': 4984,
 'jessie': 2274,
 'highs': 1978,
 'lows': 2743,
 'hit': 1999,
 'sports': 4238,
 'exclusive': 1466,
 'interviews': 2166,
 'archival': 298,
 'footage': 1622,
 'documentary': 1255,
 'traces': 4554,
 'intimate': 2167,
 'portrait': 3487,
 'formula': 1636,
 'champion': 759,
 '2015': 48,
 'winner': 4870,
 'collection': 915,
 'set': 4021,
 'latin': 2583,
 'challenged': 755,
 ...}

In [179]:
from sklearn.metrics.pairwise import cosine_similarity

In [181]:
similarity = cosine_similarity(vectors)

In [192]:
sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x:x[1])[1:6]

[(7015, 0.2857738033247041),
 (2608, 0.282842712474619),
 (5233, 0.26352313834736496),
 (1962, 0.25819888974716115),
 (2228, 0.25819888974716115)]

In [198]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)
        # print(i[0])
    return

In [197]:
new_df.iloc[707].title

"Let's Eat"

In [201]:
recommend('Lucifer')

Black Space
Unit 42
The Good Cop
Thieves of the Wood
How to Sell Drugs Online (Fast)

In [203]:
import pickle

In [204]:
pickle.dump(new_df,open('movie_list.pkl','wb'))
# pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [205]:
netflix_data.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [207]:
!pip freeze > requirements.txt